# Exploratory data analysis as the feasibility study of method2 step3 (relation classification)

This is done after running sequencially:
1. defi_textmine_2025/method2/data/tag_entity_in_texts.py
````sh
python -m defi_textmine_2025.method2.data.tag_entity_in_texts
````
2. defi_textmine_2025/method2/data/reduce_texts.py
````sh
# test data (unlabeled)
python -m defi_textmine_2025.method2.data.reduce_texts 7 data/defi-text-mine-2025/interim/entity_bracket_tagging_dataset/test/ data/defi-text-mine-2025/interim/reduced_text_w_entity_bracket/test/

# train data (labeled)
python -m defi_textmine_2025.method2.data.reduce_texts 14 data/defi-text-mine-2025/interim/entity_bracket_tagging_dataset/train/ data/defi-text-mine-2025/interim/reduced_text_w_entity_bracket/train/
````
3. defi_textmine_2025/method2/evaluation/split_labeled_dataset.py
````sh
python -m defi_textmine_2025.method2.evaluation.split_labeled_dataset 5
````

How well can we separate the classification into 2 or 3 classifiers:
- a binary classifier to identify the gender of a person
- a multiclass not-multilabel classifier to identify relations that don't coocur  with others
- a multilabel classifier to identify relation that often coocur with others

**Hypothesis**: We believe that separating the relations this way might reduce the confusion rate between relations and ths improve the macro-F1 since that metrics demands to improve the score for each single label.

# Imports

In [1]:
import logging
logging.basicConfig(
     level=logging.INFO, 
     format= '[%(asctime)s|%(levelname)s|%(module)s.py:%(lineno)s] %(message)s',
     datefmt='%H:%M:%S'
 )
import json
import pandas as pd
from defi_textmine_2025.data.utils import TARGET_COL, EDA_DIR, INTERIM_DIR


FOLD_NUM = 1
logging.info(f"{FOLD_NUM=}")
TASK_NAME = "hasrelation"
logging.info(f"{TASK_NAME=}")
STEP1_TASK_TARGET_COL = f"{TASK_NAME}_label"
logging.info(f"{STEP1_TASK_TARGET_COL=}")
TASK_INPUT_COL = "input_text"

USED_COLUMNS = ["text_index", "e1_id", "e2_id", "e1_type", "e2_type", TARGET_COL, TASK_INPUT_COL, STEP1_TASK_TARGET_COL]
logging.info(f"{USED_COLUMNS=}")

def load_preprocessed_data(parquet_path: str) -> pd.DataFrame:
    return pd.read_parquet(parquet_path)

def format_relations_str_to_list(labels_as_str: str) -> list[str]:
    return json.loads(
        labels_as_str.replace("{", "[").replace("}", "]").replace("'", '"')
    )  if pd.notnull(labels_as_str) else []

[10:30:12|INFO|2387107469.py:13] FOLD_NUM=1
[10:30:12|INFO|2387107469.py:15] TASK_NAME='hasrelation'
[10:30:12|INFO|2387107469.py:17] STEP1_TASK_TARGET_COL='hasrelation_label'
[10:30:12|INFO|2387107469.py:21] USED_COLUMNS=['text_index', 'e1_id', 'e2_id', 'e1_type', 'e2_type', 'relations', 'input_text', 'hasrelation_label']

# Load data

In [ ]:
train_df = load_preprocessed_data(f"{INTERIM_DIR}/train-fold{FOLD_NUM}-mth2.parquet")[USED_COLUMNS]
train_df.head(2)

In [3]:
val_df = load_preprocessed_data(f"data/defi-text-mine-2025/interim/validation-fold{FOLD_NUM}-mth2.parquet")[USED_COLUMNS]
val_df.head(2)

,text_index,e1_id,e2_id,e1_type,e2_type,relations,input_text,hasrelation_label
3,2576,0,2,GATHERING,CBRN_EVENT,['HAS_CONSEQUENCE'],"Au milieu de l’{ interview }, un incendie est ...",1
6,2576,3,0,CIVILIAN,GATHERING,None,"Le matin du 10 janvier 2010, { Arthur } et Jac...",0

In [4]:
test_df = load_preprocessed_data("data/defi-text-mine-2025/interim/test-preprocessed_for_mth2.parquet").drop(["reduced_text"], axis=1)
test_df.head(2)

,text_index,e1_id,e2_id,e1_type,e2_type,text,relations,input_text
0,51344,0,1,FIRE,PLACE,Un { incendie } a eu lieu hier matin au [ Port...,NaN,Un { incendie } a eu lieu hier matin au [ Port...
1,51344,1,1,PLACE,PLACE,Un incendie a eu lieu hier matin au < Portugal...,NaN,Un incendie a eu lieu hier matin au < Portugal >.

In [5]:
df = pd.concat([train_df, val_df], axis=0)
df.shape

(122044, 8)

# number of examples per relation coocurrence

In [7]:
n_examples_per_relation_coocurrences_df = df[TARGET_COL].value_counts()
n_examples_per_relation_coocurrences_df.to_csv(f"{EDA_DIR}/n_examples_per_relation_coocurrences.csv")
n_examples_per_relation_coocurrences_df[n_examples_per_relation_coocurrences_df <=5 ]

relations
['IS_PART_OF', 'CREATED']                                                                   5
['HAS_FAMILY_RELATIONSHIP', 'IS_AT_ODDS_WITH', 'IS_IN_CONTACT_WITH']                        5
['HAS_FAMILY_RELATIONSHIP', 'HAS_CONTROL_OVER', 'IS_IN_CONTACT_WITH']                       4
['HAS_FAMILY_RELATIONSHIP', 'IS_IN_CONTACT_WITH', 'IS_COOPERATING_WITH']                    4
['IS_BORN_IN', 'RESIDES_IN', 'IS_LOCATED_IN']                                               3
['HAS_CONTROL_OVER', 'IS_IN_CONTACT_WITH', 'IS_COOPERATING_WITH']                           3
['HAS_CONTROL_OVER', 'IS_BORN_IN']                                                          3
['STARTED_IN', 'OPERATES_IN', 'IS_LOCATED_IN']                                              3
['HAS_CONTROL_OVER', 'IS_COOPERATING_WITH']                                                 2
['HAS_FAMILY_RELATIONSHIP', 'IS_AT_ODDS_WITH']                                              2
['IS_AT_ODDS_WITH', 'IS_IN_CONTACT_WITH', 'IS_COOPERATING_WITH']                            2
['IS_PART_OF', 'IS_IN_CONTACT_WITH', 'IS_AT_ODDS_WITH']                                     2
['IS_PART_OF', 'IS_COOPERATING_WITH']                                                       2
['HAS_FAMILY_RELATIONSHIP', 'IS_COOPERATING_WITH']                                          2
['GENDER_MALE', 'GENDER_FEMALE']                                                            1
['GENDER_MALE', 'IS_IN_CONTACT_WITH']                                                       1
['HAS_CONTROL_OVER', 'IS_IN_CONTACT_WITH', 'CREATED']                                       1
['IS_PART_OF', 'IS_AT_ODDS_WITH', 'IS_IN_CONTACT_WITH']                                     1
['DEATHS_NUMBER', 'IS_OF_SIZE']                                                             1
['IS_PART_OF', 'IS_IN_CONTACT_WITH', 'CREATED']                                             1
['OPERATES_IN', 'IS_LOCATED_IN']                                                            1
['HAS_FAMILY_RELATIONSHIP', 'HAS_CONTROL_OVER', 'IS_AT_ODDS_WITH', 'IS_IN_CONTACT_WITH']    1
['INITIATED', 'DIED_IN']                                                                    1
['DEATHS_NUMBER', 'INJURED_NUMBER']                                                         1
['HAS_FAMILY_RELATIONSHIP', 'HAS_CONTROL_OVER']                                             1
Name: count, dtype: int64

In [8]:
n_examples_per_relation_coocurrences_df[n_examples_per_relation_coocurrences_df <=5 ].sum() /n_examples_per_relation_coocurrences_df.sum()

0.002008032128514056

## Check some examples of single coocurrences

In [46]:
df.query(f""" {TARGET_COL}=="['GENDER_MALE', 'GENDER_FEMALE']" """)

,text_index,e1_id,e2_id,e1_type,e2_type,relations,input_text,hasrelation_label
51128,157,7,7,CIVILIAN,CIVILIAN,"['GENDER_MALE', 'GENDER_FEMALE']",Le bilan fait état d'une < personne > gravemen...,1

In [48]:
df.query(f""" {TARGET_COL}=="['GENDER_MALE', 'IS_IN_CONTACT_WITH']" """).iloc[0]["input_text"]

'Un jour, une vidéo filmant la décapitation d’un < homme > cagoulé a été diffusée à la télévision. Il s’agissait du Général < Martin Kumba >, reconnue grâce à une montre de marque qu’< il > avait à la main.'

# Get the coocurrent labels for each label

In [9]:
label2coocurrentlabels = {}
for labels in [format_relations_str_to_list(s) for s in n_examples_per_relation_coocurrences_df.index.to_list()]:
    for label in labels:
        if label not in label2coocurrentlabels:
            label2coocurrentlabels[label] = []
        for coocurrentlabel in labels:
            if label != coocurrentlabel:
                label2coocurrentlabels[label].append(coocurrentlabel)
len(label2coocurrentlabels)

37

In [12]:
print(json.dumps(label2coocurrentlabels, indent=4))
# print(label2coocurrentlabels)

{
    "IS_LOCATED_IN": [
        "STARTED_IN",
        "HAS_CONTROL_OVER",
        "RESIDES_IN",
        "HAS_CONTROL_OVER",
        "RESIDES_IN",
        "IS_BORN_IN",
        "HAS_CONTROL_OVER",
        "IS_BORN_IN",
        "IS_BORN_IN",
        "RESIDES_IN",
        "STARTED_IN",
        "OPERATES_IN",
        "OPERATES_IN"
    ],
    "HAS_CONTROL_OVER": [
        "IS_LOCATED_IN",
        "IS_PART_OF",
        "OPERATES_IN",
        "IS_IN_CONTACT_WITH",
        "CREATED",
        "IS_AT_ODDS_WITH",
        "IS_IN_CONTACT_WITH",
        "IS_AT_ODDS_WITH",
        "RESIDES_IN",
        "IS_LOCATED_IN",
        "IS_PART_OF",
        "IS_IN_CONTACT_WITH",
        "IS_PART_OF",
        "CREATED",
        "IS_BORN_IN",
        "IS_LOCATED_IN",
        "RESIDES_IN",
        "HAS_FAMILY_RELATIONSHIP",
        "IS_IN_CONTACT_WITH",
        "IS_IN_CONTACT_WITH",
        "IS_COOPERATING_WITH",
        "IS_BORN_IN",
        "IS_COOPERATING_WITH",
        "IS_IN_CONTACT_WITH",
        "CREATED",
        "HAS_FAMILY_RELATIONSHIP",
        "IS_AT_ODDS_WITH",
        "IS_IN_CONTACT_WITH",
        "HAS_FAMILY_RELATIONSHIP"
    ],
    "OPERATES_IN": [
        "HAS_CONTROL_OVER",
        "STARTED_IN",
        "IS_LOCATED_IN",
        "IS_LOCATED_IN"
    ],
    "IS_IN_CONTACT_WITH": [
        "IS_AT_ODDS_WITH",
        "IS_COOPERATING_WITH",
        "IS_PART_OF",
        "HAS_CONTROL_OVER",
        "HAS_FAMILY_RELATIONSHIP",
        "HAS_CONTROL_OVER",
        "IS_AT_ODDS_WITH",
        "HAS_CONTROL_OVER",
        "IS_PART_OF",
        "HAS_FAMILY_RELATIONSHIP",
        "IS_AT_ODDS_WITH",
        "HAS_FAMILY_RELATIONSHIP",
        "HAS_CONTROL_OVER",
        "HAS_FAMILY_RELATIONSHIP",
        "IS_COOPERATING_WITH",
        "HAS_CONTROL_OVER",
        "IS_COOPERATING_WITH",
        "IS_AT_ODDS_WITH",
        "IS_COOPERATING_WITH",
        "IS_PART_OF",
        "IS_AT_ODDS_WITH",
        "GENDER_MALE",
        "HAS_CONTROL_OVER",
        "CREATED",
        "IS_PART_OF",
        "IS_AT_ODDS_WITH",
        "IS_PART_OF",
        "CREATED",
        "HAS_FAMILY_RELATIONSHIP",
        "HAS_CONTROL_OVER",
        "IS_AT_ODDS_WITH"
    ],
    "STARTED_IN": [
        "IS_LOCATED_IN",
        "OPERATES_IN",
        "IS_LOCATED_IN"
    ],
    "IS_AT_ODDS_WITH": [
        "IS_IN_CONTACT_WITH",
        "HAS_CONTROL_OVER",
        "IS_IN_CONTACT_WITH",
        "HAS_CONTROL_OVER",
        "IS_PART_OF",
        "HAS_FAMILY_RELATIONSHIP",
        "IS_IN_CONTACT_WITH",
        "HAS_FAMILY_RELATIONSHIP",
        "IS_IN_CONTACT_WITH",
        "IS_COOPERATING_WITH",
        "IS_PART_OF",
        "IS_IN_CONTACT_WITH",
        "IS_PART_OF",
        "IS_IN_CONTACT_WITH",
        "HAS_FAMILY_RELATIONSHIP",
        "HAS_CONTROL_OVER",
        "IS_IN_CONTACT_WITH"
    ],
    "IS_PART_OF": [
        "HAS_CONTROL_OVER",
        "IS_IN_CONTACT_WITH",
        "HAS_CONTROL_OVER",
        "IS_IN_CONTACT_WITH",
        "HAS_CONTROL_OVER",
        "CREATED",
        "IS_AT_ODDS_WITH",
        "CREATED",
        "IS_IN_CONTACT_WITH",
        "IS_AT_ODDS_WITH",
        "IS_COOPERATING_WITH",
        "IS_AT_ODDS_WITH",
        "IS_IN_CONTACT_WITH",
        "IS_IN_CONTACT_WITH",
        "CREATED"
    ],
    "GENDER_MALE": [
        "GENDER_FEMALE",
        "IS_IN_CONTACT_WITH"
    ],
    "HAS_CATEGORY": [],
    "START_DATE": [
        "END_DATE"
    ],
    "END_DATE": [
        "START_DATE"
    ],
    "HAS_CONSEQUENCE": [],
    "INITIATED": [
        "DIED_IN"
    ],
    "IS_OF_SIZE": [
        "DEATHS_NUMBER"
    ],
    "GENDER_FEMALE": [
        "GENDER_MALE"
    ],
    "IS_COOPERATING_WITH": [
        "IS_IN_CONTACT_WITH",
        "HAS_FAMILY_RELATIONSHIP",
        "IS_IN_CONTACT_WITH",
        "HAS_CONTROL_OVER",
        "IS_IN_CONTACT_WITH",
        "HAS_CONTROL_OVER",
        "IS_AT_ODDS_WITH",
        "IS_IN_CONTACT_WITH",
        "IS_PART_OF",
        "HAS_FAMILY_RELATIONSHIP"
    ],
    "HAS_QUANTITY": [],
    "IS_OF_NATIONALITY": [],
    "RESIDES_IN": [
        "IS_LOCATED_IN",
        "HAS_CONTROL_OVER",
        "IS_LOCATED_IN",
        "HAS_CONTROL_OVER",
        "IS_BORN_IN",
        "IS_LOCATED_IN"
    ],
    "HAS_FAMILY_RELATIONSHIP": [
        "IS_IN_CONTACT_WITH",
        "IS_AT_ODDS_WITH",
        "IS_IN_CONTACT_WITH",
        "HAS_CONTROL_OVER",
        "IS_IN_CONTACT_WITH",
        "IS_IN_CONTACT_WITH",
        "IS_COOPERATING_WITH",
        "IS_AT_ODDS_WITH",
        "IS_COOPERATING_WITH",
        "HAS_CONTROL_OVER",
        "IS_AT_ODDS_WITH",
        "IS_IN_CONTACT_WITH",
        "HAS_CONTROL_OVER"
    ],
    "HAS_COLOR": [],
    "CREATED": [
        "HAS_CONTROL_OVER",
        "HAS_CONTROL_OVER",
        "IS_PART_OF",
        "IS_PART_OF",
        "HAS_CONTROL_OVER",
        "IS_IN_CONTACT_WITH",
        "IS_PART_OF",
        "IS_IN_CONTACT_WITH"
    ],
    "DEATHS_NUMBER": [
        "IS_OF_SIZE",
        "INJURED_NUMBER"
    ],
    "INJURED_NUMBER": [
        "DEATHS_NUMBER"
    ],
    "IS_DEAD_ON": [],
    "WEIGHS": [],
    "DIED_IN": [
        "INITIATED"
    ],
    "IS_REGISTERED_AS": [],
    "IS_BORN_IN": [
        "IS_LOCATED_IN",
        "HAS_CONTROL_OVER",
        "IS_LOCATED_IN",
        "RESIDES_IN",
        "IS_LOCATED_IN",
        "HAS_CONTROL_OVER"
    ],
    "IS_BORN_ON": [],
    "HAS_FOR_LENGTH": [],
    "WAS_CREATED_IN": [],
    "WAS_DISSOLVED_IN": [],
    "HAS_FOR_WIDTH": [],
    "HAS_FOR_HEIGHT": [],
    "HAS_LONGITUDE": [],
    "HAS_LATITUDE": []
}

# Analyze relation coocurrences

In [14]:
def analyze_confusion_potentials(labels_of_interest: list[str], identical_entity: bool=False) -> None:
    n_total_examples = df.shape[0]
    n_total_examples_of_lonely_labels = 0    
    for label in labels_of_interest:
        # label_examples_df = df.query(f""" {TARGET_COL}=="['{label}']" """)
        label_examples_df = df[df[TARGET_COL].astype(str).str.contains(f"'{label}'")]
        n_label_examples = label_examples_df.shape[0]
        print("\n---------------", label, "has", n_label_examples, "examples", "---------------")
        count_per_entity_pair_df = label_examples_df.groupby(["e1_type", "e2_type"])[STEP1_TASK_TARGET_COL].count()
        print("\n( 1 ) Seen pair of entity types \n", count_per_entity_pair_df)
        for e1_type, e2_type in count_per_entity_pair_df.index:
            # print(e1_type, e2_type)
            # print(f"\n* labels in all the dataset with {(e1_type, e2_type)=} \n", df.query(f"e1_type=='{e1_type}' & e2_type=='{e2_type}'")[TARGET_COL].value_counts())
            if identical_entity:
                n_examples_per_label_w_e1_type_and_e2_type_df = df.query(f"e1_type=='{e1_type}' & e2_type=='{e2_type}' & e1_id==e2_id")[TARGET_COL].value_counts()
            else:
                n_examples_per_label_w_e1_type_and_e2_type_df = df.query(f"e1_type=='{e1_type}' & e2_type=='{e2_type}'")[TARGET_COL].value_counts()
            n_labels_w_e1_type_and_e2_type = n_examples_per_label_w_e1_type_and_e2_type_df.shape[0]
            if n_labels_w_e1_type_and_e2_type>1:                
                print(f"\n( 2 ) labels in all the dataset with {(e1_type, e2_type)=} and {identical_entity=} \n", n_examples_per_label_w_e1_type_and_e2_type_df)
            # break
        n_total_examples_of_lonely_labels += n_label_examples
        # break
    print(f"##################################\t{n_total_examples_of_lonely_labels=} e.i. a ratio of {n_total_examples_of_lonely_labels/df[TARGET_COL].dropna().shape[0]:.3f} \t##################################")

# analyze_confusion_potentials(["CREATED"], False)

## Relations occurring always alone

In [15]:
lonely_labels = [lonely_label for lonely_label in label2coocurrentlabels if len(label2coocurrentlabels[lonely_label])==0]
print(f"{len(lonely_labels)} {lonely_labels=}")

16 lonely_labels=['HAS_CATEGORY', 'HAS_CONSEQUENCE', 'HAS_QUANTITY', 'IS_OF_NATIONALITY', 'HAS_COLOR', 'IS_DEAD_ON', 'WEIGHS', 'IS_REGISTERED_AS', 'IS_BORN_ON', 'HAS_FOR_LENGTH', 'WAS_CREATED_IN', 'WAS_DISSOLVED_IN', 'HAS_FOR_WIDTH', 'HAS_FOR_HEIGHT', 'HAS_LONGITUDE', 'HAS_LATITUDE']

In [16]:
analyze_confusion_potentials(lonely_labels, False)

--------------- HAS_CATEGORY has 894 examples ---------------

( 1 ) Seen pair of entity types
 e1_type                e2_type
CIVILIAN               CATEGORY    823
MILITARY               CATEGORY     22
TERRORIST_OR_CRIMINAL  CATEGORY     49
Name: hasrelation_label, dtype: int64

--------------- HAS_CONSEQUENCE has 769 examples ---------------

( 1 ) Seen pair of entity types
 e1_type      e2_type
ACCIDENT     ACCIDENT                                69
             CBRN_EVENT                              29
             CRIMINAL_ARREST                          1
             FIRE                                    25
             STRIKE                                   2
                                                     ..
TRAFFICKING  DRUG_OPERATION                           2
             FIRE                                     2
             NON_MILITARY_GOVERNMENT_ORGANISATION     1
             THEFT                                    2
             TRAFFICKING                              6
Name: hasrelation_label, Length: 159, dtype: int64

--------------- HAS_QUANTITY has 191 examples ---------------

( 1 ) Seen pair of entity types
 e1_type   e2_type
MATERIEL  QUANTITY_EXACT     43
          QUANTITY_FUZZY    133
          QUANTITY_MIN       15
Name: hasrelation_label, dtype: int64

--------------- IS_OF_NATIONALITY has 179 examples ---------------

( 1 ) Seen pair of entity types
 e1_type                               e2_type
CIVILIAN                              NATIONALITY    57
GROUP_OF_INDIVIDUALS                  NATIONALITY    21
MILITARY                              NATIONALITY     3
MILITARY_ORGANISATION                 NATIONALITY    11
NON_GOVERNMENTAL_ORGANISATION         NATIONALITY    26
NON_MILITARY_GOVERNMENT_ORGANISATION  NATIONALITY    41
PLACE                                 NATIONALITY    15
TERRORIST_OR_CRIMINAL                 NATIONALITY     5
Name: hasrelation_label, dtype: int64

--------------- HAS_COLOR has 91 examples ---------------

( 1 ) Seen pair of entity types
 e1_type   e2_type
MATERIEL  COLOR      91
Name: hasrelation_label, dtype: int64

--------------- IS_DEAD_ON has 68 examples ---------------

( 1 ) Seen pair of entity types
 e1_type                e2_type
CIVILIAN               TIME_EXACT    59
                       TIME_FUZZY     5
                       TIME_MIN       1
TERRORIST_OR_CRIMINAL  TIME_EXACT     3
Name: hasrelation_label, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('CIVILIAN', 'TIME_EXACT') and identical_entity=False
 relations
['IS_DEAD_ON']    59
['IS_BORN_ON']    20
Name: count, dtype: int64

--------------- WEIGHS has 41 examples ---------------

( 1 ) Seen pair of entity types
 e1_type   e2_type
MATERIEL  WEIGHT     41
Name: hasrelation_label, dtype: int64

--------------- IS_REGISTERED_AS has 34 examples ---------------

( 1 ) Seen pair of entity types
 e1_type   e2_type
MATERIEL  MATERIAL_REFERENCE    34
Name: hasrelation_label, dtype: int64

--------------- IS_BORN_ON has 20 examples ---------------

( 1 ) Seen pair of entity types
 e1_type   e2_type
CIVILIAN  TIME_EXACT    20
Name: hasrelation_label, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('CIVILIAN', 'TIME_EXACT') and identical_entity=False
 relations
['IS_DEAD_ON']    59
['IS_BORN_ON']    20
Name: count, dtype: int64

--------------- HAS_FOR_LENGTH has 16 examples ---------------

( 1 ) Seen pair of entity types
 e1_type   e2_type
MATERIEL  LENGTH     16
Name: hasrelation_label, dtype: int64

--------------- WAS_CREATED_IN has 15 examples ---------------

( 1 ) Seen pair of entity types
 e1_type                               e2_type
MATERIEL                              TIME_EXACT    7
                                      TIME_FUZZY    1
                                      TIME_MIN      1
NON_GOVERNMENTAL_ORGANISATION         TIME_EXACT    5
NON_MILITARY_GOVERNMENT_ORGANISATION  TIME_EXACT    1
Name: hasrelation_label, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('NON_GOVERNMENTAL_ORGANISATION', 'TIME_EXACT') and identical_entity=False
 relations
['WAS_DISSOLVED_IN']    10
['WAS_CREATED_IN']       5
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('NON_MILITARY_GOVERNMENT_ORGANISATION', 'TIME_EXACT') and identical_entity=False
 relations
['WAS_DISSOLVED_IN']    3
['WAS_CREATED_IN']      1
Name: count, dtype: int64

--------------- WAS_DISSOLVED_IN has 14 examples ---------------

( 1 ) Seen pair of entity types
 e1_type                               e2_type
NON_GOVERNMENTAL_ORGANISATION         TIME_EXACT    10
                                      TIME_FUZZY     1
NON_MILITARY_GOVERNMENT_ORGANISATION  TIME_EXACT     3
Name: hasrelation_label, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('NON_GOVERNMENTAL_ORGANISATION', 'TIME_EXACT') and identical_entity=False
 relations
['WAS_DISSOLVED_IN']    10
['WAS_CREATED_IN']       5
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('NON_MILITARY_GOVERNMENT_ORGANISATION', 'TIME_EXACT') and identical_entity=False
 relations
['WAS_DISSOLVED_IN']    3
['WAS_CREATED_IN']      1
Name: count, dtype: int64

--------------- HAS_FOR_WIDTH has 14 examples ---------------

( 1 ) Seen pair of entity types
 e1_type   e2_type
MATERIEL  WIDTH      14
Name: hasrelation_label, dtype: int64

--------------- HAS_FOR_HEIGHT has 12 examples ---------------

( 1 ) Seen pair of entity types
 e1_type   e2_type
MATERIEL  HEIGHT     12
Name: hasrelation_label, dtype: int64

--------------- HAS_LONGITUDE has 12 examples ---------------

( 1 ) Seen pair of entity types
 e1_type  e2_type
PLACE    LONGITUDE    12
Name: hasrelation_label, dtype: int64

--------------- HAS_LATITUDE has 10 examples ---------------

( 1 ) Seen pair of entity types
 e1_type  e2_type
PLACE    LATITUDE    10
Name: hasrelation_label, dtype: int64
##################################	n_total_examples_of_lonely_labels=2380 e.i. a ratio of 0.090 	##################################

## Relations occurring at least once with others

In [17]:
not_lonely_labels = [not_lonely_label for not_lonely_label in label2coocurrentlabels if len(label2coocurrentlabels[not_lonely_label])>0]
print(f"{len(not_lonely_labels)} {not_lonely_labels=}")

21 not_lonely_labels=['IS_LOCATED_IN', 'HAS_CONTROL_OVER', 'OPERATES_IN', 'IS_IN_CONTACT_WITH', 'STARTED_IN', 'IS_AT_ODDS_WITH', 'IS_PART_OF', 'GENDER_MALE', 'START_DATE', 'END_DATE', 'INITIATED', 'IS_OF_SIZE', 'GENDER_FEMALE', 'IS_COOPERATING_WITH', 'RESIDES_IN', 'HAS_FAMILY_RELATIONSHIP', 'CREATED', 'DEATHS_NUMBER', 'INJURED_NUMBER', 'DIED_IN', 'IS_BORN_IN']

In [18]:
analyze_confusion_potentials(not_lonely_labels, False)

--------------- IS_LOCATED_IN has 9025 examples ---------------

( 1 ) Seen pair of entity types
 e1_type                               e2_type
ACCIDENT                              PLACE       439
AGITATING_TROUBLE_MAKING              PLACE        31
BOMBING                               PLACE        69
CBRN_EVENT                            PLACE       252
CIVILIAN                              PLACE      2037
CIVIL_WAR_OUTBREAK                    PLACE        32
COUP_D_ETAT                           PLACE        29
CRIMINAL_ARREST                       PLACE       112
DEMONSTRATION                         PLACE        48
DRUG_OPERATION                        PLACE        36
ECONOMICAL_CRISIS                     PLACE        70
ELECTION                              PLACE        30
EPIDEMIC                              PLACE       117
FIRE                                  PLACE       271
GATHERING                             PLACE       297
GROUP_OF_INDIVIDUALS                  PLACE      2970
HOOLIGANISM_TROUBLEMAKING             PLACE         5
ILLEGAL_CIVIL_DEMONSTRATION           PLACE        49
MILITARY                              PLACE        36
NATURAL_CAUSES_DEATH                  PLACE        33
NATURAL_EVENT                         PLACE       153
NON_MILITARY_GOVERNMENT_ORGANISATION  PLACE         5
PLACE                                 PLACE      1319
POLITICAL_VIOLENCE                    PLACE        58
POLLUTION                             PLACE        56
RIOT                                  PLACE        87
STRIKE                                PLACE        66
SUICIDE                               PLACE        34
TERRORIST_OR_CRIMINAL                 PLACE       115
THEFT                                 PLACE       107
TRAFFICKING                           PLACE        62
Name: hasrelation_label, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('ACCIDENT', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    353
['IS_LOCATED_IN']                   86
['STARTED_IN']                      51
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('AGITATING_TROUBLE_MAKING', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    21
['IS_LOCATED_IN']                  10
['STARTED_IN']                      2
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('BOMBING', 'PLACE') and identical_entity=False
 relations
['IS_LOCATED_IN']                  36
['STARTED_IN', 'IS_LOCATED_IN']    33
['STARTED_IN']                      4
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('CBRN_EVENT', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    179
['IS_LOCATED_IN']                   73
['STARTED_IN']                      33
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('CIVILIAN', 'PLACE') and identical_entity=False
 relations
['IS_LOCATED_IN']                                      1526
['HAS_CONTROL_OVER', 'IS_LOCATED_IN']                   313
['RESIDES_IN', 'IS_LOCATED_IN']                         146
['HAS_CONTROL_OVER']                                     75
['HAS_CONTROL_OVER', 'RESIDES_IN', 'IS_LOCATED_IN']      27
['IS_BORN_IN']                                           21
['RESIDES_IN']                                           18
['IS_BORN_IN', 'IS_LOCATED_IN']                          13
['HAS_CONTROL_OVER', 'IS_BORN_IN', 'IS_LOCATED_IN']       9
['HAS_CONTROL_OVER', 'RESIDES_IN']                        5
['IS_BORN_IN', 'RESIDES_IN', 'IS_LOCATED_IN']             3
['HAS_CONTROL_OVER', 'IS_BORN_IN']                        3
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('CIVIL_WAR_OUTBREAK', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    23
['IS_LOCATED_IN']                   9
['STARTED_IN']                      2
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('COUP_D_ETAT', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    20
['IS_LOCATED_IN']                   9
['STARTED_IN']                      1
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('CRIMINAL_ARREST', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    68
['IS_LOCATED_IN']                  44
['STARTED_IN']                     10
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('DEMONSTRATION', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    30
['IS_LOCATED_IN']                  18
['STARTED_IN']                     10
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('DRUG_OPERATION', 'PLACE') and identical_entity=False
 relations
['IS_LOCATED_IN']                  23
['STARTED_IN', 'IS_LOCATED_IN']    13
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('ECONOMICAL_CRISIS', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    56
['IS_LOCATED_IN']                  14
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('ELECTION', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    18
['IS_LOCATED_IN']                  12
['STARTED_IN']                      2
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('EPIDEMIC', 'PLACE') and identical_entity=False
 relations
['IS_LOCATED_IN']                  63
['STARTED_IN', 'IS_LOCATED_IN']    54
['STARTED_IN']                      4
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('FIRE', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    182
['IS_LOCATED_IN']                   89
['STARTED_IN']                      41
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('GATHERING', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    204
['IS_LOCATED_IN']                   93
['STARTED_IN']                      11
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('GROUP_OF_INDIVIDUALS', 'PLACE') and identical_entity=False
 relations
['IS_LOCATED_IN']                        2602
['HAS_CONTROL_OVER', 'IS_LOCATED_IN']     367
['HAS_CONTROL_OVER']                       73
['STARTED_IN', 'IS_LOCATED_IN']             1
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('HOOLIGANISM_TROUBLEMAKING', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    4
['IS_LOCATED_IN']                  1
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('ILLEGAL_CIVIL_DEMONSTRATION', 'PLACE') and identical_entity=False
 relations
['IS_LOCATED_IN']                  28
['STARTED_IN', 'IS_LOCATED_IN']    21
['STARTED_IN']                      2
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('MILITARY', 'PLACE') and identical_entity=False
 relations
['IS_LOCATED_IN']                        32
['HAS_CONTROL_OVER', 'IS_LOCATED_IN']     2
['RESIDES_IN', 'IS_LOCATED_IN']           2
['HAS_CONTROL_OVER', 'RESIDES_IN']        1
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('NATURAL_CAUSES_DEATH', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    23
['IS_LOCATED_IN']                  10
['STARTED_IN']                      3
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('NATURAL_EVENT', 'PLACE') and identical_entity=False
 relations
['IS_LOCATED_IN']                  84
['STARTED_IN', 'IS_LOCATED_IN']    69
['STARTED_IN']                      6
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('NON_MILITARY_GOVERNMENT_ORGANISATION', 'PLACE') and identical_entity=False
 relations
['OPERATES_IN']                                   1177
['HAS_CONTROL_OVER', 'OPERATES_IN']                 88
['HAS_CONTROL_OVER']                                 6
['STARTED_IN', 'OPERATES_IN', 'IS_LOCATED_IN']       3
['STARTED_IN', 'IS_LOCATED_IN']                      1
['OPERATES_IN', 'IS_LOCATED_IN']                     1
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('POLITICAL_VIOLENCE', 'PLACE') and identical_entity=False
 relations
['IS_LOCATED_IN']                  30
['STARTED_IN', 'IS_LOCATED_IN']    28
['STARTED_IN']                      1
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('POLLUTION', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    35
['IS_LOCATED_IN']                  21
['STARTED_IN']                      5
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('RIOT', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    50
['IS_LOCATED_IN']                  37
['STARTED_IN']                     10
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('STRIKE', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    41
['IS_LOCATED_IN']                  25
['STARTED_IN']                      2
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('SUICIDE', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    25
['IS_LOCATED_IN']                   9
['STARTED_IN']                      3
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('TERRORIST_OR_CRIMINAL', 'PLACE') and identical_entity=False
 relations
['IS_LOCATED_IN']                                      80
['HAS_CONTROL_OVER', 'IS_LOCATED_IN']                  18
['HAS_CONTROL_OVER']                                   18
['RESIDES_IN', 'IS_LOCATED_IN']                        13
['HAS_CONTROL_OVER', 'RESIDES_IN', 'IS_LOCATED_IN']     4
['HAS_CONTROL_OVER', 'RESIDES_IN']                      2
['RESIDES_IN']                                          1
['IS_BORN_IN']                                          1
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('THEFT', 'PLACE') and identical_entity=False
 relations
['STARTED_IN', 'IS_LOCATED_IN']    67
['IS_LOCATED_IN']                  40
['STARTED_IN']                     10
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('TRAFFICKING', 'PLACE') and identical_entity=False
 relations
['IS_LOCATED_IN']                  37
['STARTED_IN', 'IS_LOCATED_IN']    25
Name: count, dtype: int64

--------------- HAS_CONTROL_OVER has 4547 examples ---------------

( 1 ) Seen pair of entity types
 e1_type                               e2_type
CIVILIAN                              CIVILIAN                                  17
                                      GROUP_OF_INDIVIDUALS                      45
                                      MATERIEL                                1015
                                      MILITARY_ORGANISATION                      2
                                      NON_GOVERNMENTAL_ORGANISATION            258
                                      NON_MILITARY_GOVERNMENT_ORGANISATION      45
                                      PLACE                                    432
                                      TERRORIST_OR_CRIMINAL                      3
GROUP_OF_INDIVIDUALS                  CIVILIAN                                  32
                                      GROUP_OF_INDIVIDUALS                      39
                                      MATERIEL                                1140
                                      MILITARY                                   1
                                      MILITARY_ORGANISATION                      3
                                      NON_GOVERNMENTAL_ORGANISATION             44
                                      NON_MILITARY_GOVERNMENT_ORGANISATION      14
                                      PLACE                                    440
                                      TERRORIST_OR_CRIMINAL                      6
INTERGOVERNMENTAL_ORGANISATION        GROUP_OF_INDIVIDUALS                       3
                                      MATERIEL                                   2
                                      NON_GOVERNMENTAL_ORGANISATION              1
MILITARY                              GROUP_OF_INDIVIDUALS                       5
                                      MATERIEL                                  13
                                      MILITARY_ORGANISATION                      1
                                      NON_GOVERNMENTAL_ORGANISATION              2
                                      NON_MILITARY_GOVERNMENT_ORGANISATION       3
                                      PLACE                                      3
MILITARY_ORGANISATION                 GROUP_OF_INDIVIDUALS                       6
                                      MATERIEL                                  24
                                      MILITARY                                   1
                                      NON_GOVERNMENTAL_ORGANISATION              2
                                      PLACE                                     14
NON_GOVERNMENTAL_ORGANISATION         CIVILIAN                                   6
                                      GROUP_OF_INDIVIDUALS                      14
                                      INTERGOVERNMENTAL_ORGANISATION             1
                                      MATERIEL                                 184
                                      NON_GOVERNMENTAL_ORGANISATION              2
                                      NON_MILITARY_GOVERNMENT_ORGANISATION       1
                                      PLACE                                     85
                                      TERRORIST_OR_CRIMINAL                      2
NON_MILITARY_GOVERNMENT_ORGANISATION  CIVILIAN                                  35
                                      GROUP_OF_INDIVIDUALS                      57
                                      MATERIEL                                 251
                                      MILITARY_ORGANISATION                      3
                                      NON_GOVERNMENTAL_ORGANISATION              5
                                      NON_MILITARY_GOVERNMENT_ORGANISATION       2
                                      PLACE                                     94
                                      TERRORIST_OR_CRIMINAL                     12
PLACE                                 MATERIEL                                   1
TERRORIST_OR_CRIMINAL                 CIVILIAN                                   5
                                      GROUP_OF_INDIVIDUALS                       6
                                      MATERIEL                                 112
                                      NON_GOVERNMENTAL_ORGANISATION             11
                                      PLACE                                     42
Name: hasrelation_label, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('CIVILIAN', 'CIVILIAN') and identical_entity=False
 relations
['GENDER_MALE']                                                             830
['GENDER_FEMALE']                                                           402
['IS_IN_CONTACT_WITH']                                                      227
['HAS_FAMILY_RELATIONSHIP']                                                 113
['HAS_FAMILY_RELATIONSHIP', 'IS_IN_CONTACT_WITH']                            78
['IS_AT_ODDS_WITH']                                                          34
['IS_AT_ODDS_WITH', 'IS_IN_CONTACT_WITH']                                    17
['IS_IN_CONTACT_WITH', 'IS_COOPERATING_WITH']                                12
['HAS_CONTROL_OVER', 'IS_IN_CONTACT_WITH']                                    7
['IS_COOPERATING_WITH']                                                       6
['HAS_FAMILY_RELATIONSHIP', 'HAS_CONTROL_OVER', 'IS_IN_CONTACT_WITH']         4
['HAS_FAMILY_RELATIONSHIP', 'IS_AT_ODDS_WITH', 'IS_IN_CONTACT_WITH']          4
['HAS_CONTROL_OVER']                                                          4
['HAS_FAMILY_RELATIONSHIP', 'IS_IN_CONTACT_WITH', 'IS_COOPERATING_WITH']      4
['HAS_FAMILY_RELATIONSHIP', 'IS_COOPERATING_WITH']                            2
['HAS_FAMILY_RELATIONSHIP', 'IS_AT_ODDS_WITH']                                2
['GENDER_MALE', 'GENDER_FEMALE']                                              1
['HAS_CONTROL_OVER', 'IS_AT_ODDS_WITH', 'IS_IN_CONTACT_WITH']                 1
['HAS_FAMILY_RELATIONSHIP', 'HAS_CONTROL_OVER']                               1
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('CIVILIAN', 'GROUP_OF_INDIVIDUALS') and identical_entity=False
 relations
['IS_IN_CONTACT_WITH']                                               334
['IS_PART_OF']                                                       232
['IS_AT_ODDS_WITH']                                                   87
['IS_PART_OF', 'IS_IN_CONTACT_WITH']                                  57
['IS_AT_ODDS_WITH', 'IS_IN_CONTACT_WITH']                             31
['HAS_CONTROL_OVER', 'IS_IN_CONTACT_WITH']                            20
['IS_COOPERATING_WITH']                                               17
['IS_IN_CONTACT_WITH', 'IS_COOPERATING_WITH']                         14
['HAS_CONTROL_OVER', 'IS_PART_OF']                                    10
['HAS_CONTROL_OVER']                                                   9
['HAS_CONTROL_OVER', 'IS_PART_OF', 'IS_IN_CONTACT_WITH']               4
['HAS_CONTROL_OVER', 'IS_AT_ODDS_WITH', 'IS_IN_CONTACT_WITH']          1
['HAS_CONTROL_OVER', 'IS_IN_CONTACT_WITH', 'IS_COOPERATING_WITH']      1
['IS_PART_OF', 'IS_IN_CONTACT_WITH', 'IS_AT_ODDS_WITH']                1
['IS_PART_OF', 'IS_COOPERATING_WITH']                                  1
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('CIVILIAN', 'MATERIEL') and identical_entity=False
 relations
['HAS_CONTROL_OVER']               983
['HAS_CONTROL_OVER', 'CREATED']     32
['CREATED']                         10
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('CIVILIAN', 'MILITARY_ORGANISATION') and identical_entity=False
 relations
['IS_IN_CONTACT_WITH']                           4
['IS_AT_ODDS_WITH']                              2
['IS_PART_OF']                                   2
['IS_IN_CONTACT_WITH', 'IS_COOPERATING_WITH']    2
['HAS_CONTROL_OVER', 'IS_PART_OF']               2
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('CIVILIAN', 'NON_GOVERNMENTAL_ORGANISATION') and identical_entity=False
 relations
['HAS_CONTROL_OVER', 'IS_PART_OF']                          200
['IS_PART_OF']                                              196
['IS_IN_CONTACT_WITH']                                       40
['HAS_CONTROL_OVER']                                         29
['IS_AT_ODDS_WITH']                                          24
['HAS_CONTROL_OVER', 'IS_PART_OF', 'CREATED']                15
['IS_PART_OF', 'IS_IN_CONTACT_WITH']                         15
['HAS_CONTROL_OVER', 'IS_PART_OF', 'IS_IN_CONTACT_WITH']     13
['IS_AT_ODDS_WITH', 'IS_IN_CONTACT_WITH']                     5
['IS_COOPERATING_WITH']                                       4
['IS_PART_OF', 'CREATED']                                     4
['IS_IN_CONTACT_WITH', 'IS_COOPERATING_WITH']                 2

### Check some examples of rare coocurrences

In [22]:
df.query(f""" {TARGET_COL}=="['DEATHS_NUMBER', 'IS_OF_SIZE']" """)[TASK_INPUT_COL].iloc[0]

'De [ nombreuses ] { personnes } ont été tuées.'

### Check wether `IS_AT_ODDS_WITH` is always a symmetric relation

This property might be useful to augment data

In [27]:
# If symetric, then the number of relations in each original text (text_index) should be even
df.query(f""" {TARGET_COL}=="['IS_AT_ODDS_WITH']" """).groupby("text_index")[TARGET_COL].count().sort_values()

text_index
3821      1
4936      1
41749     1
51848     1
42004     2
         ..
41186    26
4910     26
41073    32
11897    34
3696     38
Name: relations, Length: 193, dtype: int64

In [28]:
df.query(f""" {TARGET_COL}=="['IS_AT_ODDS_WITH']" """).query("text_index==3821")[TASK_INPUT_COL].iloc[0]

"Après le chaos de la circulation, les [ forces de l'ordre ] ont dispersé les { manifestants } avec des grenades lacrymogènes."

In [23]:
# difficult to know that mercenaries are by definition at odds with police
df.query(f""" {TARGET_COL}=="['IS_AT_ODDS_WITH']" """).query("text_index==3701")[TASK_INPUT_COL].iloc[0]

"Peu après, le chef de l'État a déclaré dans un communiqué radio que cette tentative de coup d'État avait été dirigée par le mercenaire M. [ Smith Lewan ], un ancien membre de l'armée américaine. Le chef d'État a affirmé que M. [ Smith Lewan ] et M. Basuki Achmad avaient déjà travaillé ensemble et que toutes les preuves étaient réunies. Malgré les patrouilles de la { police } pour rétablir l'ordre, des cas de vols de voitures et de vandalisme ont été recensés dans les rues de Jakarta."

In [24]:
df.query(f""" {TARGET_COL}=="['IS_AT_ODDS_WITH']" """).query("text_index==2431")[TASK_INPUT_COL].iloc[0]

"L'[ équipe ] des Forces d'Interventions Rapides, les FIR, a appréhendé un groupe de trafiquants de drogue dans leur quartier général caché en pleine forêt à une longitude de 6.944408. Lors de la descente, { Gibryl Walker }, l'{ un } des trafiquants, a pu se cacher sous un pick-up, un couteau à la main, derrière une pile de cartons dans lesquels étaient dissimulés leurs sachets de drogue. Pendant les affrontements, des échanges de tirs ont eu lieu et { Gibryl Walker } est tombé sur la pile de cartons. En tombant, { il } a accidentellement répandu sur son visage la poudre de cocaïne contenue dans les cartons. Une fois l'opération terminée, les secours ont constaté que Monsieur { Gibryl Walker } gisait sous la voiture, mort d'une overdose à cause de la drogue qu'{ il } avait inhalée malgré { lui }."

# Context of entities in gender relations

We want to assume that: 
- the gender is always a binary attribute
- the gender never coocurres with another attribute / relation

In [29]:
analyze_confusion_potentials(["GENDER_MALE", "GENDER_FEMALE"], True)

--------------- GENDER_MALE has 908 examples ---------------

( 1 ) Seen pair of entity types
 e1_type                e2_type
CIVILIAN               CIVILIAN                 831
MILITARY               MILITARY                  21
TERRORIST_OR_CRIMINAL  TERRORIST_OR_CRIMINAL     56
Name: hasrelation_label, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('CIVILIAN', 'CIVILIAN') and identical_entity=True
 relations
['GENDER_MALE']                     830
['GENDER_FEMALE']                   402
['GENDER_MALE', 'GENDER_FEMALE']      1
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('MILITARY', 'MILITARY') and identical_entity=True
 relations
['GENDER_MALE']                          20
['GENDER_MALE', 'IS_IN_CONTACT_WITH']     1
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('TERRORIST_OR_CRIMINAL', 'TERRORIST_OR_CRIMINAL') and identical_entity=True
 relations
['GENDER_MALE']      56
['GENDER_FEMALE']    11
Name: count, dtype: int64

--------------- GENDER_FEMALE has 414 examples ---------------

( 1 ) Seen pair of entity types
 e1_type                e2_type
CIVILIAN               CIVILIAN                 403
TERRORIST_OR_CRIMINAL  TERRORIST_OR_CRIMINAL     11
Name: hasrelation_label, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('CIVILIAN', 'CIVILIAN') and identical_entity=True
 relations
['GENDER_MALE']                     830
['GENDER_FEMALE']                   402
['GENDER_MALE', 'GENDER_FEMALE']      1
Name: count, dtype: int64

( 2 ) labels in all the dataset with (e1_type, e2_type)=('TERRORIST_OR_CRIMINAL', 'TERRORIST_OR_CRIMINAL') and identical_entity=True
 relations
['GENDER_MALE']      56
['GENDER_FEMALE']    11
Name: count, dtype: int64
##################################	n_total_examples_of_lonely_labels=1322 e.i. a ratio of 0.050 	##################################

## Check the 2 coocurrences of genders

### ['GENDER_MALE', 'IS_IN_CONTACT_WITH']

How can sommeone be in contact with himself?

In [30]:
# the only example having both ['GENDER_MALE', 'IS_IN_CONTACT_WITH'] as gender
df.query(f""" {TARGET_COL}=="['GENDER_MALE', 'IS_IN_CONTACT_WITH']" """)[TASK_INPUT_COL].iloc[0]

'Un jour, une vidéo filmant la décapitation d’un < homme > cagoulé a été diffusée à la télévision. Il s’agissait du Général < Martin Kumba >, reconnue grâce à une montre de marque qu’< il > avait à la main.'

### ['GENDER_MALE', 'GENDER_FEMALE']

Can a person be of both genders?

In this example, it seems clear that the driver was a woman. 

What its unclear is that the owner of the car, who is a male (`M. < Ali Alissone >`), is tagged as the same entity as the driver, that is explicitly said to be a woman (`la conductrice`)

In [31]:
train_df.query(f""" {TARGET_COL}=="['GENDER_MALE', 'GENDER_FEMALE']" """)[TASK_INPUT_COL].iloc[0]

"Le bilan fait état d'une < personne > gravement blessée. L'< automobiliste > circulant en direction de Nantes a percuté l’arrière d’un poids-lourd qui < le > précédait puis s’est déporté sur la voie opposée. Le capot de la voiture appartenant à M. < Ali Alissone > a été fortement endommagé dans cette collision. La présence de l'Office National des secours a permis de sortir la < conductrice > de son véhicule."

In [34]:
# examples that might contain < personne > and thus the same kind of ambiguity / error
test_df[test_df[TASK_INPUT_COL].str.contains("< personne >")].query("e1_id==e2_id & e1_type=='CIVILIAN'")[TASK_INPUT_COL].values.tolist()

["Malheureusement pour eux, une < personne >, Mme < Sherley Campbell >, a été victime d'une électrocution et les investigations menées par la police ont permis de découvrir le vol. La < victime > est actuellement à l'hôpital, sous oxygène, avec un bras amputé.",
 'D\'après une enquête approfondie, la police a découvert que la < personne > qui les a alertés n\'est autre que Madame < Anna Laura Sauvage >, la présidente de l\'association "One Hand".',
 'Le 13 novembre 2022, Monsieur < Laurent Chazal >, le président de l\'association "Aide pour tous" au Venezuela, a assisté à la campagne d\'une nouvelle secte à Caracas. D\'après une enquête approfondie, la police a découvert que la < personne > qui les avait alertés était Monsieur < Laurent Chazal >.',
 "Sur les 20 personnes à bord, une seule < personne > a survécu. Il s'agissait d'une < jeune femme > nommée < Bona Capelani >. < Elle > avait eu la chance d'être à côté d'une fenêtre. < Elle > avait été éjectée à l'extérieur du bus lors de la chute."]